{% extends "discover/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-6 card bg-light mb-3">
      <div class="media">
        <img class="img-thumbnail account-img" src="{{ user.userprofile.image.url }}">
        <div class="media-body">
          <h5 class="mt-0 border-bottom pt-1">{{user.first_name}} {{user.last_name}}</h5>
           <h6>{{user.userprofile.description}}</h6>
        </div>
      </div>
      <div class="border-bottom pt-3">
        <h6>@{{user.username}}</h6>
      </div>
    </div>
    <div class="col">
      {% block ratings %} {% endblock ratings %}
    </div>
  </div>

{%  endblock content %}
