{% extends "discover/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

  <div class="row">
    <div class="col">

    </div>
    <div class="col-6 card bg-light mb-3">
      <div class="media">
        <img class="account-img rounded-circle" src="{{ user.userprofile.image.url }}">
        <div class="media-body">
            <h5 class="mt-0 border-bottom pt-1">{{user.first_name}} {{user.last_name}}</h5>
           <h6>{{user.userprofile.description}}</h6>
        </div>
        <div class="">
          {% if request.user.is_authenticated and user == request.user %}
          <div>
            <a class="" href="{% url 'edit-profile' request.user %}">
              <svg class="bi bi-pencil pt-1" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
               <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
              </svg>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      <div>
        <h6>@{{user.username}}</h6>
      </div>
      <div>
        {% if request.user.is_authenticated and user == request.user %}
          <form class = "form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = "form-group">
              {{ post_form.description }}
            </div>
            <div class = "form-group">
              {{ post_form.image }}
            </div>
            <div class="form-group">
              <button type="submit" class = "btn btn-dark btn-lg btn-block">Post</button>
            </div>
          </form>
        {% endif %}
      </div>
      <div>
        {% for post in post_list %}
        <div>
          <div class="p-3 mb-3 rounded border-top">
            {{ post.description }}
          </div>
          <div class="border">
            <img class="img-fluid" alt="Responsive image" src="{{ post.image.url }}">
          </div>
          <small class = "text-muted float-right">
            {{ post.date|date:"d F Y" }}
          </small>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      {% if user.register_as == 'Coach' %}
        <div class="card ">
          <div class="card-header">
            Ratings
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Comment 1</li>
            <li class="list-group-item">Comment 2</li>
            <li class="list-group-item">Comment 3</li>
          </ul>
        </div>
      {% endif %}

    </div>
  </div>

{%  endblock content %}
