{% extends "discover/base.html" %}

{% block content %}

<div class="row">
  <div class="col">
  </div>
  <div class="col-6 ">
    <div class="card border-info ">
      <div class="card-header card-title">

        <h3>Discover</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Coach 1</li>
        <li class="list-group-item">Coach 2</li>
        <li class="list-group-item">Coach 3</li>
      </ul>
    </div>
  </div>
  <div class="col">
  </div>
</div>

{% endblock content %}
